body{
  background-image: url(images/wood1.jpg);
}
div {
  background-color:#737373;
  border:3px solid black;
  padding:10px"
}
table{
  border: 3px solid black;
  border-collapse: collapse;
  padding-top: 15px;
}
tr,td{
  border: 1px solid black;
  text-align:center;
}
tr:nth-child(even) {

}
th{
  padding: 2px 4px;
}
